# Ce fichier peut être utilisé pour créer un environnement en utilisant :
# $ conda create --name <env> --file <ce fichier>
lime==0.2.0.1
matplotlib==3.8.1
nltk==3.8.1
numpy==1.26.2
pandas==2.1.3
scikit-learn==1.3.0
seaborn==0.13.0
# Si vous effectuez l'entraînement localement
torch==2.1.0
transformers==4.35.2
datasets==2.15.0
accelerate==0.24.1
